# Default ignored files
/../../helloworld /.idea/shelf/
/../../helloworld /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../helloworld /.idea/httpRequests/
# Datasource local storage ignored files
/../../helloworld /.idea/dataSources/
/../../helloworld /.idea/dataSources.local.xml
